:root{
    --pink:#e84393;
}

*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
   text-transform:capitalize;
   transition: .2s linear;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

html{
   font-size: 65.5%;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;
   overflow-x: hidden;
}
/* headerr */
section{
padding: 2rem 9%;
}
/* about us */
.heading{
   text-align: center;
   font-size: 4rem;
   color: #333;
   padding: 1rem;
   margin: 2rem 0;
  background: #f3d0e1;
}
.heading span{
   color: var(--pink);
}
/* button */
.btn{
   display: inline-block;
   margin-top: 1rem;
   border-radius: 5rem;
   background-color: #333;
   color: #fff;
   /* button padding */
   padding: 1rem 3.5rem;
   cursor: pointer;
   font-size: 1.7rem;
}

.btn:hover{
   background-color: var(--pink);
}
header{
   position: fixed;
   top: 0; left: 0; right: 0;
   background: #fff;
   padding: 2rem 9%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
   box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}


header .logo{
   font-size: 3rem;
   color: #333;
   font-weight: bolder;
}

header .logo span{
  color:var(--pink) ;
}

header .nav a{
   /* font-style: bold; */
   font-size: 1.5rem;
   padding: 0 1.5rem;
   color: #666;
}

header .nav a:hover{
   color:var(--pink) ;
}

header .icons a{
   font-size: 2.5rem;
   color: #333;
   margin-left: 1.5rem;
}

header .icons a:hover{
   color:var(--pink) ;
}
/* <!----toggler css---> */
header #toggler{
   display: none;
   
}

header .fa-bars{
   font-size: 2.5rem;
   color: #333;
   border-radius: .2rem;
   /* padding: 5rem 1.5rem; */
   cursor: pointer;
   border: 2px;
}

/* bannner */
.home{
   display: flex;
   align-items: center;
   min-height: 100vh;
   background-size: cover;
   background-image:url(./Assets/Images/banner-939948_960_720.jpg);
   background-position: center;

}

.home .content{
   max-width: 50rem;
}

.home .content h2{
   font-size: 6rem;
}

.home .content span{
   font-size: 3.5rem;
   color: var(--pink);
   padding: 1rem 0;
   line-height: 1.5;
}


.home .content p{
   font-style:italic;
   font-size: 1.5rem;
   color: black;
   padding: 1rem 0;
   line-height: 1.5;
}
/* about row css */
/* .about .row{
   display: flex;
   gap: 5rem;
   align-items: center;
   padding: 2rem 0;
   flex-wrap: wrap;
   padding-bottom: 2rem;
}

.about .row .img-contain{
   -ms-flex-item-align: 1 1 40rem;
   position: relative;
} 
/*
.about .row .img-contain img{
  width: 100%;
  border:1.5rem solid #fff;
  border-radius: .5rem;
  border:  6px double gray; */
  /* border: 4px solid gray; */
  /* height: 50vh;
  object-fit: cover; */
  /* box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1); */
/* }  */

/* .about .row .img-contain h3{ */
   /* position: absolute; */
   /* transform: translateY(-50%); PIC CENTER M LINE HEADING */
   /* top: 50%; transform: translateY(-50%); */
   /* font-size: 3rem;
   top: 50%;
  
   text-align: center;
   padding: 1rem 2rem;
  width: 100%; */
  /* mix-blend-mode: screen; heading m pic */
  /* mix-blend-mode: screen; */
   /* background: #fff;
}
.about .row .content{
   flex: 1 1 40rem;
} */

/* .about .row .content h3{
   font-size: 3rem;
   color: #333;
}


.about .row .content p{
   font-size: 1.5rem;
   color: #999;
   padding: .5rem 0;
   padding-top: 1rem;
} */
.about {
   width: 100%;
 
}
.about img{
   height: auto;
   width:470px;
}
.about-text{
width: 500px;
gap: 2px;
}
.main{
   display: flex;
   max-width: 95%;
   width: 1130px;
   align-items: center;
   justify-content: space-around;
}

.about-text h1{
   color: var(--pink);
   font-size: 70px;
   margin-bottom: 20px;
}
.about-text h5{
   color: var(--pink);
   font-size: 25px;
   margin-bottom: 20px;
   letter-spacing: 1px;
}
.about-text p{
   color: black;
   letter-spacing: 1px;
   line-height: 25px;
}
/* icons */
.icons-container{
   
   background: #eee;
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
   padding-top: 5rem;
   padding-bottom: 5rem;
}


.icons-container .icons{
   background: #fff;
   display: flex;
   flex:1 1 25rem;
   padding:2rem;
   border: 2px double gray;
   align-items: center;

}

.icons-container .icons img{
   height: 5rem;
   margin-right: 2rem;
}

.icons-container .icons h3{
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.icons-container .icons span{
   color: #555;
   font-size: 1.3rem;
}
/* products */
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    position: relative;
    border: 1rem solid rgba(245, 240, 240, 0.1);

}

.products .box-container .box .discount{
   position: absolute;
   top: 1rem; left: 1rem;
   padding: -1rem 2rem;
   font-size: 1.5rem;
   color: var(--pink);
   background: #eec6d9;
  
   z-index: 1;
   border-radius: .2rem;
}

.products .box-container .box .img{
   text-align: center;
   padding-top: 2rem;
   overflow: hidden;
   position: relative;
}

.products .box-container .box .img img{
   height: 20rem;
}

.products .box-container .box:hover .img img{
   transform: scale(1.1);
}
.products .box-container .box .img .icons {
   position: absolute;
   bottom: -5rem; left: 0; right: 0;
   display: flex;
}

.products .box-container .box:hover .img .icons {
   bottom: 0rem;
}


.products .box-container .box .img .icons a{
   color:#fff;
   line-height: 4rem;
   font-size: 2rem;
   background: var(--pink);
   width: 50%;
}
.products .box-container .box .img .icons .cart-btn{
   border-left: 0rem solid #fff7;
   border-right: 0rem solid #fff7;
   width: 100%;
}

.products .box-container .box .img .icons a:hover{
   background: #333;
}

.products .box-container .box .content{
   text-align: center;
   padding: 2rem;
}
.products .box-container .box .content h3{
   font-size: 2.5rem;
   color: #333;
}

.products .box-container .box .content .price{
   font-size: 2rem;
   color: var(--pink);
   font-weight: bolder;
   padding-top: 1rem;
}

.products .box-container .box .content .price span{
   font-size: 1rem;
   color:#333 ;
   font-weight: lighter;
   padding-top: 1.5rem;
   text-decoration: line-through;
}

.reviews .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.reviews .box-container .box{ 
   flex: 1 1 30rem;
   box-shadow: 0  .5rem 1.5rem rgba(0, 0, 0, .1);
   padding: 3rem  2rem;
   border-radius: .6rem;
   position: relative;
   border: 0.5rem solid rgba(0, 0, 0, .1);

} 

.reviews .box-container .box .fa-qoute-right{ 
   position: absolute;
   bottom: 8rem; right: 3rem;
   font-size: 6rem;
   color: white;
}
.reviews .box-container .box .stars i{
   color: var(--pink);
   font-size: 2rem;
}

.reviews .box-container .box p{
   color: #999;
   line-height: 1.5rem;
   padding-top: 2rem;
   font-size: 1rem;
}

.reviews .box-container .box .user{
   display: flex;
   align-items: center;
   padding-top: 2rem;
}

.reviews .box-container .box .user img{
 height: 6rem;
 width: 6rem;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 1rem;
}

.reviews .box-container .box .user h3{
   font-size:2rem;
   color: #333;

}

.reviews .box-container .box .user span{
   font-size:1rem;
   color: #666;    
}
/* contact us */
.contact .row{
   display: flex;
   flex-wrap: wrap-reverse;
   gap: 2rem;
   /* align-items: center; */
}


.contact .row form{
   flex: 1 1 30rem;
   padding:2rem 2.5rem;
   box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0 ,.1);
   background: #fff;
   border: 0.5 solid rgba(0, 0, 0 ,.1);
   border-radius: .5rem;
}

/* .contact .row .image{
   flex: 1 1 40rem;
}

.contact .row .image img{
  width: 100%;
  
} */

.contact .row form .box{
   padding: 1rem;
   font-size:1.7rem;
   color: #333;
   text-transform: none;
   border: .1rem solid rgba(0,0,0,.1);
   border-radius: 1rem;
   margin:.7rem 0;
   width: 100%;
}

.contact .row form .box:focus{
   border-color:var(--pink);
}

.contact .row form textarea{
   height: 15rem;
   resize: none;

}

.footer .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.footer .box-container .box{
   flex: 1 1 25rem;
}

.footer .box-container .box h3{
   color: #333;
   font-size: 2.5rem;
   padding: 1rem 0;
   
}

.footer .box-container .box a{
   color: #333;
   font-size: 1.5rem;
   padding: 1rem 0;
   display: block;
}

.footer .box-container .box a:hover{
   color: var(--pink);
   text-decoration: underline;
}
.footer .credit{
   text-align: center;
   padding: 1.5rem;
   padding-top: 1.5rem;
   margin-top: 2rem;
   font-size: 2rem;
   color: #333;
   border-top: 0.5rem solid rgba(0,0,0,.1);
}

.footer .credit span{
   color: var(--pink);
  
















}
/* MEDIA QUERIES */
@media(max-width:990px){
   html{
       font-size: 50%;
   }

   header{
       padding: 1rem;
   }

   section{
       padding: 1rem;
   }

   .home{
       background-position: left;
   }
}
/* navbar */
@media(max-width:768px){

   header .fa-bars{
       display: block;
   }
   
   header .nav{
       position: absolute;
       top: 100%; left: 0; right: 0;
       background: #eee;
       border-top: .1rem solid rgba(0,0,0.1);
       clip-path: polygon(0 0,100% 0, 100% 0, 0 0);

   }
    
   header #toggler:checked ~ .nav{
       clip-path: polygon(0 0,100% 0, 100% 0, 0 0);

   }
   header .nav a{
       margin: 1.5rem;
       padding: 1.5rem;
       background: #fff;
       border: 1rem solid rgba(0, 0, 0 ,.1);
       display: block;
   }
   
   .home .content h2{
     font-size: 5rem;
   }
   .home .content span{
       font-size:2. 5rem;
     }

}
@media(max-width:450px){
   html{
       font-size: 50%;
   }
   .heading{
       font-size: 3rem;
   }
   
}


